includes:
    - vendor/larastan/larastan/extension.neon

parameters:

    level: max

    paths:
        - app
        - Modules

    tmpDir: storage/phpstan

    checkMissingIterableValueType: false

    reportUnmatchedIgnoredErrors: false
